
body 

h1{
	color:red;
	font-family: Arial, helvetica, sans-serif;
}



h3 {

	color: green;
	text-decoration: none;

}

	
.iconos {
font-size: 90px

}

.color-facebook {
	color:;
}

.color-twitter {
	color:#0084b4;

}

.color-instagram {
	color:#8a3ab9;

}

.color-linkedin {
	color: #007bb5;

}
